In [7]:
# Import the required libriraies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [8]:
# Importing all datasets
leads_data = pd.read_csv("leads.csv")
leads_data.head()

,Prospect ID,Lead Number,Lead Origin,Lead Source,Do Not Email,Do Not Call,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,...,Get updates on DM Content,Lead Profile,City,Asymmetrique Activity Index,Asymmetrique Profile Index,Asymmetrique Activity Score,Asymmetrique Profile Score,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
0,7927b2df-8bba-4d29-b9a2-b6e0beafe620,660737,API,Olark Chat,No,No,0,0.0,0,0.0,...,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Modified
1,2a272436-5132-4136-86fa-dcc88c88f482,660728,API,Organic Search,No,No,0,5.0,674,2.5,...,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Email Opened
2,8cc8c611-a219-4f35-ad23-fdfd2656bd8a,660727,Landing Page Submission,Direct Traffic,No,No,1,2.0,1532,2.0,...,No,Potential Lead,Mumbai,02.Medium,01.High,14.0,20.0,No,Yes,Email Opened
3,0cc2df48-7cf4-4e39-9de9-19797f9b38cc,660719,Landing Page Submission,Direct Traffic,No,No,0,1.0,305,1.0,...,No,Select,Mumbai,02.Medium,01.High,13.0,17.0,No,No,Modified
4,3256f628-e534-4826-9d63-4a8b88782852,660681,Landing Page Submission,Google,No,No,1,2.0,1428,1.0,...,No,Select,Mumbai,02.Medium,01.High,15.0,18.0,No,No,Modified

In [9]:
leads_data.shape

(9240, 37)

In [10]:
leads_data.describe()

,Lead Number,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,Asymmetrique Activity Score,Asymmetrique Profile Score
count,9240.000000,9240.000000,9103.000000,9240.000000,9103.000000,5022.000000,5022.000000
mean,617188.435606,0.385390,3.445238,487.698268,2.362820,14.306252,16.344883
std,23405.995698,0.486714,4.854853,548.021466,2.161418,1.386694,1.811395
min,579533.000000,0.000000,0.000000,0.000000,0.000000,7.000000,11.000000
25%,596484.500000,0.000000,1.000000,12.000000,1.000000,14.000000,15.000000
50%,615479.000000,0.000000,3.000000,248.000000,2.000000,14.000000,16.000000
75%,637387.250000,1.000000,5.000000,936.000000,3.000000,15.000000,18.000000
max,660737.000000,1.000000,251.000000,2272.000000,55.000000,18.000000,20.000000

In [11]:
leads_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 37 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Prospect ID                                    9240 non-null   object
 1   Lead Number                                    9240 non-null   int64
 2   Lead Origin                                    9240 non-null   object
 3   Lead Source                                    9204 non-null   object
 4   Do Not Email                                   9240 non-null   object
 5   Do Not Call                                    9240 non-null   object
 6   Converted                                      9240 non-null   int64
 7   TotalVisits                                    9103 non-null   float64
 8   Total Time Spent on Website                    9240 non-null   int64
 9   Page Views Per Visit                           9103 non-null   float64
 10  Last Activity                                  9137 non-null   object
 11  Country                                        6779 non-null   object
 12  Specialization                                 7802 non-null   object
 13  How did you hear about X Education             7033 non-null   object
 14  What is your current occupation                6550 non-null   object
 15  What matters most to you in choosing a course  6531 non-null   object
 16  Search                                         9240 non-null   object
 17  Magazine                                       9240 non-null   object
 18  Newspaper Article                              9240 non-null   object
 19  X Education Forums                             9240 non-null   object
 20  Newspaper                                      9240 non-null   object
 21  Digital Advertisement                          9240 non-null   object
 22  Through Recommendations                        9240 non-null   object
 23  Receive More Updates About Our Courses         9240 non-null   object
 24  Tags                                           5887 non-null   object
 25  Lead Quality                                   4473 non-null   object
 26  Update me on Supply Chain Content              9240 non-null   object
 27  Get updates on DM Content                      9240 non-null   object
 28  Lead Profile                                   6531 non-null   object
 29  City                                           7820 non-null   object
 30  Asymmetrique Activity Index                    5022 non-null   object
 31  Asymmetrique Profile Index                     5022 non-null   object
 32  Asymmetrique Activity Score                    5022 non-null   float64
 33  Asymmetrique Profile Score                     5022 non-null   float64
 34  I agree to pay the amount through cheque       9240 non-null   object
 35  A free copy of Mastering The Interview         9240 non-null   object
 36  Last Notable Activity                          9240 non-null   object
dtypes: float64(4), int64(3), object(30)
memory usage: 2.6+ MB

# Data Preparation

In [12]:
# Converting Yes, No fields to Binary values
# List of variables to map
varlist =  ['Do Not Email', 'Do Not Call', 'Search', 'Magazine','Newspaper Article','X Education Forums','Newspaper',
            'Digital Advertisement','Through Recommendations','Receive More Updates About Our Courses',
            'Update me on Supply Chain Content','Get updates on DM Content','I agree to pay the amount through cheque',
            'A free copy of Mastering The Interview',]

# Defining the map function
def binary_map(x):
    return x.map({'Yes': 1, "No": 0})

# Applying the function to the housing list
leads_data[varlist] = leads_data[varlist].apply(binary_map)

In [13]:
leads_data.head()

,Prospect ID,Lead Number,Lead Origin,Lead Source,Do Not Email,Do Not Call,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,...,Get updates on DM Content,Lead Profile,City,Asymmetrique Activity Index,Asymmetrique Profile Index,Asymmetrique Activity Score,Asymmetrique Profile Score,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
0,7927b2df-8bba-4d29-b9a2-b6e0beafe620,660737,API,Olark Chat,0,0,0,0.0,0,0.0,...,0,Select,Select,02.Medium,02.Medium,15.0,15.0,0,0,Modified
1,2a272436-5132-4136-86fa-dcc88c88f482,660728,API,Organic Search,0,0,0,5.0,674,2.5,...,0,Select,Select,02.Medium,02.Medium,15.0,15.0,0,0,Email Opened
2,8cc8c611-a219-4f35-ad23-fdfd2656bd8a,660727,Landing Page Submission,Direct Traffic,0,0,1,2.0,1532,2.0,...,0,Potential Lead,Mumbai,02.Medium,01.High,14.0,20.0,0,1,Email Opened
3,0cc2df48-7cf4-4e39-9de9-19797f9b38cc,660719,Landing Page Submission,Direct Traffic,0,0,0,1.0,305,1.0,...,0,Select,Mumbai,02.Medium,01.High,13.0,17.0,0,0,Modified
4,3256f628-e534-4826-9d63-4a8b88782852,660681,Landing Page Submission,Google,0,0,1,2.0,1428,1.0,...,0,Select,Mumbai,02.Medium,01.High,15.0,18.0,0,0,Modified

In [14]:
# Checking the percentage of missing values
round(100*(leads_data.isnull().sum()/len(leads_data.index)), 2)

Prospect ID                                       0.00
Lead Number                                       0.00
Lead Origin                                       0.00
Lead Source                                       0.39
Do Not Email                                      0.00
Do Not Call                                       0.00
Converted                                         0.00
TotalVisits                                       1.48
Total Time Spent on Website                       0.00
Page Views Per Visit                              1.48
Last Activity                                     1.11
Country                                          26.63
Specialization                                   15.56
How did you hear about X Education               23.89
What is your current occupation                  29.11
What matters most to you in choosing a course    29.32
Search                                            0.00
Magazine                                          0.00
Newspaper Article                                 0.00
X Education Forums                                0.00
Newspaper                                         0.00
Digital Advertisement                             0.00
Through Recommendations                           0.00
Receive More Updates About Our Courses            0.00
Tags                                             36.29
Lead Quality                                     51.59
Update me on Supply Chain Content                 0.00
Get updates on DM Content                         0.00
Lead Profile                                     29.32
City                                             15.37
Asymmetrique Activity Index                      45.65
Asymmetrique Profile Index                       45.65
Asymmetrique Activity Score                      45.65
Asymmetrique Profile Score                       45.65
I agree to pay the amount through cheque          0.00
A free copy of Mastering The Interview            0.00
Last Notable Activity                             0.00
dtype: float64

In [15]:
# Rename long column names
leads_data.rename(columns={'Prospect ID':'ProspectID'}, inplace=True)
leads_data.rename(columns={'Lead Number':'LeadNumber'}, inplace=True)
leads_data.rename(columns={'Lead Origin':'LeadOrigin'}, inplace=True)
leads_data.rename(columns={'Lead Source':'LeadSource'}, inplace=True)
leads_data.rename(columns={'Do Not Email':'NoEmail'}, inplace=True)
leads_data.rename(columns={'Do Not Call':'NoCall'}, inplace=True)
leads_data.rename(columns={'Converted':'Converted'}, inplace=True)
leads_data.rename(columns={'TotalVisits':'TotalVisits'}, inplace=True)
leads_data.rename(columns={'Total Time Spent on Website':'TimeSpent'}, inplace=True)
leads_data.rename(columns={'Page Views Per Visit':'PageVisited'}, inplace=True)
leads_data.rename(columns={'Last Activity':'LastActivity'}, inplace=True)
leads_data.rename(columns={'Country':'Country'}, inplace=True)
leads_data.rename(columns={'Specialization':'Specialization'}, inplace=True)
leads_data.rename(columns={'How did you hear about X Education':'Source'}, inplace=True)
leads_data.rename(columns={'What is your current occupation':'Occupation'}, inplace=True)
leads_data.rename(columns={'What matters most to you in choosing a course':'MattersMost'}, inplace=True)
leads_data.rename(columns={'Search':'Search'}, inplace=True)
leads_data.rename(columns={'Magazine':'Magazine'}, inplace=True)
leads_data.rename(columns={'Newspaper Article':'Article'}, inplace=True)
leads_data.rename(columns={'X Education Forums':'Forums'}, inplace=True)
leads_data.rename(columns={'Newspaper':'Newspaper'}, inplace=True)
leads_data.rename(columns={'Digital Advertisement':'DigitalAd'}, inplace=True)
leads_data.rename(columns={'Through Recommendations':'Recommendations'}, inplace=True)
leads_data.rename(columns={'Receive More Updates About Our Courses':'ReceiveUpdates'}, inplace=True)
leads_data.rename(columns={'Tags':'Tags'}, inplace=True)
leads_data.rename(columns={'Lead Quality':'LeadQuality'}, inplace=True)
leads_data.rename(columns={'Update me on Supply Chain Content':'SupplyChain'}, inplace=True)
leads_data.rename(columns={'Get updates on DM Content':'DMContent'}, inplace=True)
leads_data.rename(columns={'Lead Profile':'LeadProfile'}, inplace=True)
leads_data.rename(columns={'City':'City'}, inplace=True)
leads_data.rename(columns={'Asymmetrique Activity Index':'ActivityIndex'}, inplace=True)
leads_data.rename(columns={'Asymmetrique Profile Index':'ProfileIndex'}, inplace=True)
leads_data.rename(columns={'Asymmetrique Activity Score':'ActivityScore'}, inplace=True)
leads_data.rename(columns={'Asymmetrique Profile Score':'ProfileScore'}, inplace=True)
leads_data.rename(columns={'I agree to pay the amount through cheque':'ChequePayment'}, inplace=True)
leads_data.rename(columns={'A free copy of Mastering The Interview':'FreeCopy'}, inplace=True)
leads_data.rename(columns={'Last Notable Activity':'NotableActivity'}, inplace=True)

In [16]:
leads_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ProspectID       9240 non-null   object
 1   LeadNumber       9240 non-null   int64
 2   LeadOrigin       9240 non-null   object
 3   LeadSource       9204 non-null   object
 4   NoEmail          9240 non-null   int64
 5   NoCall           9240 non-null   int64
 6   Converted        9240 non-null   int64
 7   TotalVisits      9103 non-null   float64
 8   TimeSpent        9240 non-null   int64
 9   PageVisited      9103 non-null   float64
 10  LastActivity     9137 non-null   object
 11  Country          6779 non-null   object
 12  Specialization   7802 non-null   object
 13  Source           7033 non-null   object
 14  Occupation       6550 non-null   object
 15  MattersMost      6531 non-null   object
 16  Search           9240 non-null   int64
 17  Magazine         9240 non-null   int64
 18  Article          9240 non-null   int64
 19  Forums           9240 non-null   int64
 20  Newspaper        9240 non-null   int64
 21  DigitalAd        9240 non-null   int64
 22  Recommendations  9240 non-null   int64
 23  ReceiveUpdates   9240 non-null   int64
 24  Tags             5887 non-null   object
 25  LeadQuality      4473 non-null   object
 26  SupplyChain      9240 non-null   int64
 27  DMContent        9240 non-null   int64
 28  LeadProfile      6531 non-null   object
 29  City             7820 non-null   object
 30  ActivityIndex    5022 non-null   object
 31  ProfileIndex     5022 non-null   object
 32  ActivityScore    5022 non-null   float64
 33  ProfileScore     5022 non-null   float64
 34  ChequePayment    9240 non-null   int64
 35  FreeCopy         9240 non-null   int64
 36  NotableActivity  9240 non-null   object
dtypes: float64(4), int64(17), object(16)
memory usage: 2.6+ MB

# Treating null values in each coloumn.  Also try to group the less frequent values to others

In [17]:
leads_data['LeadSource'].value_counts()

Google               2868
Direct Traffic       2543
Olark Chat           1755
Organic Search       1154
Reference             534
Welingak Website      142
Referral Sites        125
Facebook               55
bing                    6
google                  5
Click2call              4
Live Chat               2
Press_Release           2
Social Media            2
youtubechannel          1
Pay per Click Ads       1
WeLearn                 1
NC_EDM                  1
testone                 1
welearnblog_Home        1
blog                    1
Name: LeadSource, dtype: int64

In [18]:
leads_data['LeadSource'].fillna('OtherSource', inplace=True)
leads_data['LeadSource']=leads_data['LeadSource'].replace(['bing','Click2call','Social Media','Press_Release','Live Chat','Pay per Click Ads',
                                    'WeLearn','welearnblog_Home','youtubechannel','NC_EDM','blog','testone'], 'OtherSource')
leads_data['LeadSource']=leads_data['LeadSource'].replace(['google'],'Google')
leads_data['LeadSource'].value_counts()

Google              2873
Direct Traffic      2543
Olark Chat          1755
Organic Search      1154
Reference            534
Welingak Website     142
Referral Sites       125
OtherSource           59
Facebook              55
Name: LeadSource, dtype: int64

In [19]:
leads_data['LastActivity'].value_counts()

Email Opened                    3437
SMS Sent                        2745
Olark Chat Conversation          973
Page Visited on Website          640
Converted to Lead                428
Email Bounced                    326
Email Link Clicked               267
Form Submitted on Website        116
Unreachable                       93
Unsubscribed                      61
Had a Phone Conversation          30
Approached upfront                 9
View in browser link Clicked       6
Email Received                     2
Email Marked Spam                  2
Resubscribed to emails             1
Visited Booth in Tradeshow         1
Name: LastActivity, dtype: int64

In [20]:
leads_data['LastActivity'].fillna('Noactivity', inplace=True)
leads_data['LastActivity']=leads_data['LastActivity'].replace(['Unreachable','Unsubscribed',
                                                                'Had a Phone Conversation','Approached upfront',
                                                                'View in browser link Clicked','Email Marked Spam','Email Received',
                                                                'Resubscribed to emails','Visited Booth in Tradeshow'], 'NoActivity')
leads_data['LastActivity'].value_counts()

Email Opened                 3437
SMS Sent                     2745
Olark Chat Conversation       973
Page Visited on Website       640
Converted to Lead             428
Email Bounced                 326
Email Link Clicked            267
NoActivity                    205
Form Submitted on Website     116
Noactivity                    103
Name: LastActivity, dtype: int64

In [21]:
leads_data['Country'].value_counts()

India                   6492
United States             69
United Arab Emirates      53
Singapore                 24
Saudi Arabia              21
United Kingdom            15
Australia                 13
Qatar                     10
Hong Kong                  7
Bahrain                    7
France                     6
Oman                       6
unknown                    5
Canada                     4
Nigeria                    4
Germany                    4
Kuwait                     4
South Africa               4
Sweden                     3
Ghana                      2
Bangladesh                 2
Asia/Pacific Region        2
Philippines                2
Netherlands                2
China                      2
Belgium                    2
Italy                      2
Uganda                     2
Liberia                    1
Indonesia                  1
Vietnam                    1
Denmark                    1
Kenya                      1
Russia                     1
Tanzania                   1
Sri Lanka                  1
Switzerland                1
Malaysia                   1
Name: Country, dtype: int64

In [22]:
leads_data['Country'].fillna('OtherCountry', inplace=True)
leads_data['Country'].value_counts()

India                   6492
OtherCountry            2461
United States             69
United Arab Emirates      53
Singapore                 24
Saudi Arabia              21
United Kingdom            15
Australia                 13
Qatar                     10
Bahrain                    7
Hong Kong                  7
France                     6
Oman                       6
unknown                    5
Germany                    4
Nigeria                    4
Kuwait                     4
Canada                     4
South Africa               4
Sweden                     3
Ghana                      2
Bangladesh                 2
Asia/Pacific Region        2
Philippines                2
Netherlands                2
China                      2
Belgium                    2
Italy                      2
Uganda                     2
Liberia                    1
Indonesia                  1
Vietnam                    1
Denmark                    1
Kenya                      1
Russia                     1
Tanzania                   1
Sri Lanka                  1
Switzerland                1
Malaysia                   1
Name: Country, dtype: int64

In [23]:
leads_data['Specialization'].value_counts()

Select                               1942
Finance Management                    976
Human Resource Management             848
Marketing Management                  838
Operations Management                 503
Business Administration               403
IT Projects Management                366
Supply Chain Management               349
Banking, Investment And Insurance     338
Travel and Tourism                    203
Media and Advertising                 203
International Business                178
Healthcare Management                 159
Hospitality Management                114
E-COMMERCE                            112
Retail Management                     100
Rural and Agribusiness                 73
E-Business                             57
Services Excellence                    40
Name: Specialization, dtype: int64

In [24]:
leads_data['Specialization'].fillna('OtherSpec', inplace=True)
leads_data['Specialization']=leads_data['Specialization'].replace(['Select'], 'OtherSpec')
leads_data['Specialization'].value_counts()

OtherSpec                            3380
Finance Management                    976
Human Resource Management             848
Marketing Management                  838
Operations Management                 503
Business Administration               403
IT Projects Management                366
Supply Chain Management               349
Banking, Investment And Insurance     338
Travel and Tourism                    203
Media and Advertising                 203
International Business                178
Healthcare Management                 159
Hospitality Management                114
E-COMMERCE                            112
Retail Management                     100
Rural and Agribusiness                 73
E-Business                             57
Services Excellence                    40
Name: Specialization, dtype: int64

In [25]:
leads_data['Source'].value_counts()

Select                   5043
Online Search             808
Word Of Mouth             348
Student of SomeSchool     310
Other                     186
Multiple Sources          152
Advertisements             70
Social Media               67
Email                      26
SMS                        23
Name: Source, dtype: int64

In [26]:
leads_data['Source'].fillna('OtherSource', inplace=True)
leads_data['Source']=leads_data['Source'].replace(['Select','Other'], 'OtherSource')
leads_data['Source'].value_counts()

OtherSource              7436
Online Search             808
Word Of Mouth             348
Student of SomeSchool     310
Multiple Sources          152
Advertisements             70
Social Media               67
Email                      26
SMS                        23
Name: Source, dtype: int64

In [27]:
leads_data['Occupation'].value_counts()

Unemployed              5600
Working Professional     706
Student                  210
Other                     16
Housewife                 10
Businessman                8
Name: Occupation, dtype: int64

In [28]:
leads_data['Occupation'].fillna('OtherOccupation', inplace=True)
leads_data['Occupation'].value_counts()

Unemployed              5600
OtherOccupation         2690
Working Professional     706
Student                  210
Other                     16
Housewife                 10
Businessman                8
Name: Occupation, dtype: int64

In [29]:
leads_data['MattersMost'].value_counts()

Better Career Prospects      6528
Flexibility & Convenience       2
Other                           1
Name: MattersMost, dtype: int64

In [30]:
leads_data['MattersMost'].fillna('OtherImportance', inplace=True)
leads_data['MattersMost']=leads_data['MattersMost'].replace(['Flexibility & Convenience','Other'], 'OtherImportance')
leads_data['MattersMost'].value_counts()

Better Career Prospects    6528
OtherImportance            2712
Name: MattersMost, dtype: int64

In [31]:
leads_data['Tags'].value_counts()

Will revert after reading the email                  2072
Ringing                                              1203
Interested in other courses                           513
Already a student                                     465
Closed by Horizzon                                    358
switched off                                          240
Busy                                                  186
Lost to EINS                                          175
Not doing further education                           145
Interested  in full time MBA                          117
Graduation in progress                                111
invalid number                                         83
Diploma holder (Not Eligible)                          63
wrong number given                                     47
opp hangup                                             33
number not provided                                    27
in touch with EINS                                     12
Lost to Others                                          7
Still Thinking                                          6
Want to take admission but has financial problems       6
In confusion whether part time or DLP                   5
Interested in Next batch                                5
Lateral student                                         3
University not recognized                               2
Shall take in the next coming month                     2
Recognition issue (DEC approval)                        1
Name: Tags, dtype: int64

In [32]:
leads_data['Tags'].fillna('OtherTags', inplace=True)
leads_data['Tags'].value_counts()

OtherTags                                            3353
Will revert after reading the email                  2072
Ringing                                              1203
Interested in other courses                           513
Already a student                                     465
Closed by Horizzon                                    358
switched off                                          240
Busy                                                  186
Lost to EINS                                          175
Not doing further education                           145
Interested  in full time MBA                          117
Graduation in progress                                111
invalid number                                         83
Diploma holder (Not Eligible)                          63
wrong number given                                     47
opp hangup                                             33
number not provided                                    27
in touch with EINS                                     12
Lost to Others                                          7
Still Thinking                                          6
Want to take admission but has financial problems       6
In confusion whether part time or DLP                   5
Interested in Next batch                                5
Lateral student                                         3
University not recognized                               2
Shall take in the next coming month                     2
Recognition issue (DEC approval)                        1
Name: Tags, dtype: int64

In [33]:
leads_data['LeadQuality'].value_counts()

Might be             1560
Not Sure             1092
High in Relevance     637
Worst                 601
Low in Relevance      583
Name: LeadQuality, dtype: int64

In [34]:
leads_data['LeadQuality'].fillna('OtherRelevance', inplace=True)
leads_data['LeadQuality'].value_counts()

OtherRelevance       4767
Might be             1560
Not Sure             1092
High in Relevance     637
Worst                 601
Low in Relevance      583
Name: LeadQuality, dtype: int64

In [35]:
leads_data['LeadProfile'].value_counts()

Select                         4146
Potential Lead                 1613
Other Leads                     487
Student of SomeSchool           241
Lateral Student                  24
Dual Specialization Student      20
Name: LeadProfile, dtype: int64

In [36]:
leads_data['LeadProfile'].fillna('OtherProfile', inplace=True)
leads_data['LeadProfile']=leads_data['LeadProfile'].replace(['Select'], 'OtherProfile')
leads_data['LeadProfile'].value_counts()

OtherProfile                   6855
Potential Lead                 1613
Other Leads                     487
Student of SomeSchool           241
Lateral Student                  24
Dual Specialization Student      20
Name: LeadProfile, dtype: int64

In [37]:
leads_data['City'].value_counts()

Mumbai                         3222
Select                         2249
Thane & Outskirts               752
Other Cities                    686
Other Cities of Maharashtra     457
Other Metro Cities              380
Tier II Cities                   74
Name: City, dtype: int64

In [38]:
leads_data['City'].fillna('OtherCities', inplace=True)
leads_data['City']=leads_data['City'].replace(['Select'], 'OtherCities')
leads_data['City'].value_counts()

OtherCities                    3669
Mumbai                         3222
Thane & Outskirts               752
Other Cities                    686
Other Cities of Maharashtra     457
Other Metro Cities              380
Tier II Cities                   74
Name: City, dtype: int64

In [39]:
# Converting High, Medium, Low to numeric values  
# List of variables to map
varlist1 =  ['ActivityIndex', 'ProfileIndex']

# Defining the map function
def severity_map(x):
    return x.map({'01.High': 1, "02.Medium": 2,"03.Low":3})

# Applying the function to the housing list
leads_data[varlist1] = leads_data[varlist1].apply(severity_map)

In [40]:
leads_data['ActivityIndex'].value_counts()

2.0    3839
1.0     821
3.0     362
Name: ActivityIndex, dtype: int64

In [41]:
leads_data['ActivityIndex'].fillna(value = 4, inplace=True)
leads_data['ActivityIndex'].value_counts()

4.0    4218
2.0    3839
1.0     821
3.0     362
Name: ActivityIndex, dtype: int64

In [42]:
leads_data['ProfileIndex'].value_counts()

2.0    2788
1.0    2203
3.0      31
Name: ProfileIndex, dtype: int64

In [43]:
leads_data['ProfileIndex'].fillna(value = 4, inplace=True)
leads_data['ProfileIndex'].value_counts()

4.0    4218
2.0    2788
1.0    2203
3.0      31
Name: ProfileIndex, dtype: int64

In [44]:
leads_data['ActivityScore'].value_counts()

14.0    1771
15.0    1293
13.0     775
16.0     467
17.0     349
12.0     196
11.0      95
10.0      57
9.0        9
18.0       5
8.0        4
7.0        1
Name: ActivityScore, dtype: int64

In [45]:
leads_data['ActivityScore'].fillna(value = 0.0, inplace=True)
leads_data['ActivityScore'].value_counts()

0.0     4218
14.0    1771
15.0    1293
13.0     775
16.0     467
17.0     349
12.0     196
11.0      95
10.0      57
9.0        9
18.0       5
8.0        4
7.0        1
Name: ActivityScore, dtype: int64

In [46]:
leads_data['ProfileScore'].value_counts()

15.0    1759
18.0    1071
16.0     599
17.0     579
20.0     308
19.0     245
14.0     226
13.0     204
12.0      22
11.0       9
Name: ProfileScore, dtype: int64

In [47]:
leads_data['ProfileScore'].fillna(value = 0.0, inplace=True)
leads_data['ProfileScore'].value_counts()

0.0     4218
15.0    1759
18.0    1071
16.0     599
17.0     579
20.0     308
19.0     245
14.0     226
13.0     204
12.0      22
11.0       9
Name: ProfileScore, dtype: int64

In [48]:
leads_data['NotableActivity'].value_counts()

Modified                        3407
Email Opened                    2827
SMS Sent                        2172
Page Visited on Website          318
Olark Chat Conversation          183
Email Link Clicked               173
Email Bounced                     60
Unsubscribed                      47
Unreachable                       32
Had a Phone Conversation          14
Email Marked Spam                  2
Resubscribed to emails             1
Email Received                     1
View in browser link Clicked       1
Approached upfront                 1
Form Submitted on Website          1
Name: NotableActivity, dtype: int64

In [49]:
leads_data['NotableActivity'].fillna('OtherActivity', inplace=True)
leads_data['NotableActivity'].value_counts()

Modified                        3407
Email Opened                    2827
SMS Sent                        2172
Page Visited on Website          318
Olark Chat Conversation          183
Email Link Clicked               173
Email Bounced                     60
Unsubscribed                      47
Unreachable                       32
Had a Phone Conversation          14
Email Marked Spam                  2
Resubscribed to emails             1
Email Received                     1
View in browser link Clicked       1
Approached upfront                 1
Form Submitted on Website          1
Name: NotableActivity, dtype: int64

In [50]:
leads_data.head()

,ProspectID,LeadNumber,LeadOrigin,LeadSource,NoEmail,NoCall,Converted,TotalVisits,TimeSpent,PageVisited,...,DMContent,LeadProfile,City,ActivityIndex,ProfileIndex,ActivityScore,ProfileScore,ChequePayment,FreeCopy,NotableActivity
0,7927b2df-8bba-4d29-b9a2-b6e0beafe620,660737,API,Olark Chat,0,0,0,0.0,0,0.0,...,0,OtherProfile,OtherCities,2.0,2.0,15.0,15.0,0,0,Modified
1,2a272436-5132-4136-86fa-dcc88c88f482,660728,API,Organic Search,0,0,0,5.0,674,2.5,...,0,OtherProfile,OtherCities,2.0,2.0,15.0,15.0,0,0,Email Opened
2,8cc8c611-a219-4f35-ad23-fdfd2656bd8a,660727,Landing Page Submission,Direct Traffic,0,0,1,2.0,1532,2.0,...,0,Potential Lead,Mumbai,2.0,1.0,14.0,20.0,0,1,Email Opened
3,0cc2df48-7cf4-4e39-9de9-19797f9b38cc,660719,Landing Page Submission,Direct Traffic,0,0,0,1.0,305,1.0,...,0,OtherProfile,Mumbai,2.0,1.0,13.0,17.0,0,0,Modified
4,3256f628-e534-4826-9d63-4a8b88782852,660681,Landing Page Submission,Google,0,0,1,2.0,1428,1.0,...,0,OtherProfile,Mumbai,2.0,1.0,15.0,18.0,0,0,Modified

In [51]:
leads_data['TotalVisits'].value_counts()

0.0      2189
2.0      1680
3.0      1306
4.0      1120
5.0       783
6.0       466
1.0       395
7.0       309
8.0       224
9.0       164
10.0      114
11.0       86
13.0       48
12.0       45
14.0       36
16.0       21
15.0       18
17.0       16
18.0       15
20.0       12
19.0        9
21.0        6
23.0        6
25.0        5
24.0        5
27.0        5
22.0        3
28.0        2
29.0        2
26.0        2
115.0       1
41.0        1
55.0        1
251.0       1
141.0       1
32.0        1
42.0        1
74.0        1
43.0        1
30.0        1
54.0        1
Name: TotalVisits, dtype: int64

In [52]:
leads_data['TotalVisits'].fillna(value = 0.0, inplace=True)
leads_data['TotalVisits'].value_counts()

0.0      2326
2.0      1680
3.0      1306
4.0      1120
5.0       783
6.0       466
1.0       395
7.0       309
8.0       224
9.0       164
10.0      114
11.0       86
13.0       48
12.0       45
14.0       36
16.0       21
15.0       18
17.0       16
18.0       15
20.0       12
19.0        9
21.0        6
23.0        6
25.0        5
24.0        5
27.0        5
22.0        3
28.0        2
29.0        2
26.0        2
115.0       1
41.0        1
55.0        1
251.0       1
141.0       1
32.0        1
42.0        1
74.0        1
43.0        1
30.0        1
54.0        1
Name: TotalVisits, dtype: int64

In [53]:
leads_data['PageVisited'].value_counts()

0.00    2189
2.00    1795
3.00    1196
4.00     896
1.00     651
        ...
2.13       1
4.40       1
6.67       1
8.33       1
2.45       1
Name: PageVisited, Length: 114, dtype: int64

In [54]:
leads_data['PageVisited'].fillna(value = 0.0, inplace=True)
leads_data['PageVisited'].value_counts()

0.00    2326
2.00    1795
3.00    1196
4.00     896
1.00     651
        ...
2.13       1
4.40       1
6.67       1
8.33       1
2.45       1
Name: PageVisited, Length: 114, dtype: int64

In [55]:
# Checking the percentage of missing values after treating all the null values
round(100*(leads_data.isnull().sum()/len(leads_data.index)), 2)

ProspectID         0.0
LeadNumber         0.0
LeadOrigin         0.0
LeadSource         0.0
NoEmail            0.0
NoCall             0.0
Converted          0.0
TotalVisits        0.0
TimeSpent          0.0
PageVisited        0.0
LastActivity       0.0
Country            0.0
Specialization     0.0
Source             0.0
Occupation         0.0
MattersMost        0.0
Search             0.0
Magazine           0.0
Article            0.0
Forums             0.0
Newspaper          0.0
DigitalAd          0.0
Recommendations    0.0
ReceiveUpdates     0.0
Tags               0.0
LeadQuality        0.0
SupplyChain        0.0
DMContent          0.0
LeadProfile        0.0
City               0.0
ActivityIndex      0.0
ProfileIndex       0.0
ActivityScore      0.0
ProfileScore       0.0
ChequePayment      0.0
FreeCopy           0.0
NotableActivity    0.0
dtype: float64

In [56]:
# Take a copy of the original data
leads_data_copy = leads_data.copy()

In [57]:
leads_data_copy.shape

(9240, 37)

# Drop columns with only single value as this does not affect the regression model

In [58]:
leads_data = leads_data.drop(['Magazine','ReceiveUpdates','SupplyChain','DMContent','ChequePayment'], 1)

In [59]:
leads_data.shape

(9240, 32)

In [60]:
# Creating a dummy variable for some of the categorical variables and dropping the first one.
dummy1 = pd.get_dummies(leads_data[['LeadOrigin', 'LeadSource', 'LastActivity', 'Country','Specialization',
                                    'Source','Occupation',
                                    'Tags','LeadQuality','LeadProfile','City',
                                    'ActivityIndex','ProfileIndex',
                                    'NotableActivity','MattersMost']], drop_first=True)



# Adding the results to the master dataframe
leads_data = pd.concat([leads_data, dummy1], axis=1)

In [61]:
# Drop the original columns since we have created the dummies.

leads_data = leads_data.drop(['LeadOrigin', 'LeadSource', 'LastActivity', 'Country','Specialization',
                                    'Source','Occupation',
                                    'Tags','LeadQuality','LeadProfile','City',
                                    'ActivityIndex','ProfileIndex',
                                    'NotableActivity','MattersMost'], 1)

In [62]:
leads_data.shape

(9240, 166)

In [63]:
leads_data.head()

,ProspectID,LeadNumber,NoEmail,NoCall,Converted,TotalVisits,TimeSpent,PageVisited,Search,Article,...,NotableActivity_Had a Phone Conversation,NotableActivity_Modified,NotableActivity_Olark Chat Conversation,NotableActivity_Page Visited on Website,NotableActivity_Resubscribed to emails,NotableActivity_SMS Sent,NotableActivity_Unreachable,NotableActivity_Unsubscribed,NotableActivity_View in browser link Clicked,MattersMost_OtherImportance
0,7927b2df-8bba-4d29-b9a2-b6e0beafe620,660737,0,0,0,0.0,0,0.0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,2a272436-5132-4136-86fa-dcc88c88f482,660728,0,0,0,5.0,674,2.5,0,0,...,0,0,0,0,0,0,0,0,0,0
2,8cc8c611-a219-4f35-ad23-fdfd2656bd8a,660727,0,0,1,2.0,1532,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0cc2df48-7cf4-4e39-9de9-19797f9b38cc,660719,0,0,0,1.0,305,1.0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,3256f628-e534-4826-9d63-4a8b88782852,660681,0,0,1,2.0,1428,1.0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [64]:
leads_data.describe()

,LeadNumber,NoEmail,NoCall,Converted,TotalVisits,TimeSpent,PageVisited,Search,Article,Forums,...,NotableActivity_Had a Phone Conversation,NotableActivity_Modified,NotableActivity_Olark Chat Conversation,NotableActivity_Page Visited on Website,NotableActivity_Resubscribed to emails,NotableActivity_SMS Sent,NotableActivity_Unreachable,NotableActivity_Unsubscribed,NotableActivity_View in browser link Clicked,MattersMost_OtherImportance
count,9240.000000,9240.000000,9240.000000,9240.000000,9240.000000,9240.000000,9240.000000,9240.000000,9240.000000,9240.000000,...,9240.000000,9240.000000,9240.000000,9240.000000,9240.000000,9240.000000,9240.000000,9240.000000,9240.000000,9240.000000
mean,617188.435606,0.079437,0.000216,0.385390,3.394156,487.698268,2.327787,0.001515,0.000216,0.000108,...,0.001515,0.368723,0.019805,0.034416,0.000108,0.235065,0.003463,0.005087,0.000108,0.293506
std,23405.995698,0.270435,0.014711,0.486714,4.836682,548.021466,2.164258,0.038898,0.014711,0.010403,...,0.038898,0.482485,0.139338,0.182304,0.010403,0.424062,0.058750,0.071142,0.010403,0.455393
min,579533.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,596484.500000,0.000000,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,615479.000000,0.000000,0.000000,0.000000,3.000000,248.000000,2.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,637387.250000,0.000000,0.000000,1.000000,5.000000,936.000000,3.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,660737.000000,1.000000,1.000000,1.000000,251.000000,2272.000000,55.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# Checking for outliers in continious variables

In [65]:
# Checking for outliers in the continuous variables
num_leads = leads_data[['TotalVisits','TimeSpent','PageVisited','ActivityScore','ProfileScore']]

# Checking outliers at 25%, 50%, 75%, 90%, 95% and 99%
num_leads.describe(percentiles=[.25, .5, .75, .90, .95, .99])

       TotalVisits    TimeSpent  PageVisited  ActivityScore  ProfileScore
count  9240.000000  9240.000000  9240.000000    9240.000000   9240.000000
mean      3.394156   487.698268     2.327787       7.775541      8.883550
std       4.836682   548.021466     2.164258       7.199329      8.250664
min       0.000000     0.000000     0.000000       0.000000      0.000000
25%       0.000000    12.000000     0.000000       0.000000      0.000000
50%       3.000000   248.000000     2.000000      13.000000     14.000000
75%       5.000000   936.000000     3.000000      14.000000     16.000000
90%       7.000000  1380.000000     5.000000      15.000000     18.000000
95%      10.000000  1562.000000     6.000000      16.000000     19.000000
99%      17.000000  1840.610000     9.000000      17.000000     20.000000
max     251.000000  2272.000000    55.000000      18.000000     20.000000

In [66]:
# Outlier values are available in TotalVisits, TimeSpent and Page visited. We will default Median values for these
# outlier values.
median_visits = leads_data.loc[leads_data['TotalVisits']<19, 'TotalVisits'].median()
leads_data["TotalVisits"] = leads_data["TotalVisits"].mask(leads_data["TotalVisits"] >19, median_visits)

median_spent = leads_data.loc[leads_data['TimeSpent']<1850, 'TimeSpent'].median()
leads_data["TimeSpent"] = leads_data["TimeSpent"].mask(leads_data["TimeSpent"] > 1850, median_spent)

median_page = leads_data.loc[leads_data['PageVisited']<10, 'PageVisited'].median()
leads_data["PageVisited"] = leads_data["PageVisited"].mask(leads_data["PageVisited"] > 10, median_page)

In [67]:
# Checking for outliers in the continuous variables
num_leads = leads_data[['TotalVisits','TimeSpent','PageVisited','ActivityScore','ProfileScore']]

# Checking outliers at 25%, 50%, 75%, 90%, 95% and 99%
num_leads.describe(percentiles=[.25, .5, .75, .90, .95, .99])

       TotalVisits    TimeSpent  PageVisited  ActivityScore  ProfileScore
count  9240.000000  9240.000000  9240.000000    9240.000000   9240.000000
mean      3.197511   472.357143     2.264223       7.775541      8.883550
std       3.078764   530.016760     1.938917       7.199329      8.250664
min       0.000000     0.000000     0.000000       0.000000      0.000000
25%       0.000000    12.000000     0.000000       0.000000      0.000000
50%       3.000000   245.000000     2.000000      13.000000     14.000000
75%       5.000000   900.250000     3.000000      14.000000     16.000000
90%       7.000000  1351.100000     5.000000      15.000000     18.000000
95%       9.000000  1524.000000     6.000000      16.000000     19.000000
99%      14.000000  1743.610000     8.000000      17.000000     20.000000
max      19.000000  1850.000000    10.000000      18.000000     20.000000

In [68]:
# After the outlier treatment, the values are gradually increasing.  Now we can procced with Test and Train split